body {
    background-color: black;
    font-family: 'Source Code Pro', monospace;
    color: #f1ce07;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#terminal {
    width: 99%;
    height: 97%;
    border: 1px solid #146D19;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: black;
}

#output {
    white-space: pre-wrap;
}

#input {
    width: 100%;
    background-color: black;
    border: none;
    color: #146D19;
    font-size: 1.2em;
    outline: none;
    caret-color: #;
}

#cleiton {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #00ff00;
    font-size: 1.5em;
    font-weight: bold;
    display: none; /* Inicialmente oculto */
}

.hidden {
    display: none;
}

.MarcaOPED {
            position: fixed;
            right: 20px;    /* Distância da borda direita */
            bottom: 20px;   /* Distância da borda inferior */
            width: 200px;   /* Largura da imagem */
            height: auto;   /* Mantém a proporção */
            z-index: 1000;  /* Garante que fique acima de outros elementos */

}


 
    
        .texto-sobre {
            position: absolute;
            top: 0; /* Alinha no topo da imagem */
            left: 0;
            width: 100%;
            color: white;
            background: rgba(0,0,0,0.5); /* fundo escuro semi-transparente */
            text-align: center;
            font-size: 16px;
            padding: 5px 0;
            font-family: Arial, sans-serif;
        }
       
